<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <div class="col-md-1" class="line">
            <div class="wordwrapper">
                <!-- <div class="word">Login</div> -->
            </div>
        </div>
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <form class="form-register" [formGroup]="loginForm" (ngSubmit)="loginUser()"
                                (ngSubmit)="onSubmit()">
                                <div class="form-group">

                                    <div class="form-group mb-4" class='input-container'>
                                        <i class="fa fa-user icon"></i>
                                        <input class="form-control" class="input-field"
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="inputEmail"
                                            type="email" name="email" formControlName="email"
                                            placeholder="Email address" required="" autofocus=""
                                            class="form-control rounded-pill border-0 shadow-sm px-4">
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-3" class='input-container'>
                                    <i class="fa fa-lock icon"></i>
                                    <input id="inputPassword" type="password" formControlName="password"
                                        placeholder="Password" required=""
                                        class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <br>
                                    <button type="submit" class='btn'
                                        class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Login</button>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                    <!-- <label for="customCheck1" class="custom-control-label">Remember password</label> -->
                                    <a routerLink="/forgetpass-component"> <b>Forget Password</b></a>
                                    <br>
                                    Not Registered?
                                    <a routerLink="/register-component"> <b>Sign up!</b></a>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>