
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  <div class="container-fluid">
      <div class="row no-gutter">
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <div class="col-md-1" class="line">
          <div class="wordwrapper">
              <!-- <div class="word">Login</div> -->
          </div>
    </div>
    <div class="col-md-5 bg-light">
              <div class="login d-flex align-items-center py-5">
  
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-10 col-xl-6 mx-auto">
								<div class="form-group">
                                  
                                  <div class="form-group mb-4" class = 'input-container'>
                                      <i class="fa fa-user icon"></i>
                                      <input class="input-field" id="inputEmail"  type="email" placeholder="Email address" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                  </div>
                                  <div class="custom-control custom-checkbox mb-3">
                                      <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                      
                                        <button class = "button" routerLink="/login-component">Login</button>
                                          <button class = "button" routerLink="/forgetpassverify-component">Get Code</button>
                                          
                                  </div>
                          </div>
                  </div>
  
              </div>
          </div>
  
      </div>
  </div>
  